{
  "env": {
    "ANTHROPIC_BASE_URL": "http://192.168.30.95:8084",
    "ANTHROPIC_AUTH_TOKEN": "keys",
    "ANTHROPIC_MODEL": "claude-opus-4-7-thinking",
    "ANTHROPIC_SMALL_FAST_MODEL": "claude-haiku-4-5-20251001"
  }
}
